.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tertiary);
  padding: 16px 24px;
}

.logo-container img {
  height: 40px;
}

.linha-cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}


h2{
    font-weight: bold;
}

.farmacia-nome .subtitle {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

#nome-farmacia {
  color: white;
  font-size: 14px;
}

#logout-btn {
  font-size: 14px;
  border-color: var(--primary);
  color: var(--primary);
  font-weight: bold;
}

#logout-btn:hover{
    background-color: white;
    border-color: none;
    color: var(--secondary);
}

.icone-bluetooth {
  margin-left: 8px;
  height: 14px;
}

.acoes-modulo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0;
  gap: 12px;
}

.modulo-label {
  font-weight: bold;
  font-size: 16px;
  padding: 6px 12px;
  border: 2px solid var(--secondary);
  border-radius: 8px;
  color: var(--secondary);
}

#btn-conectar {
    background: none;
    border-color: var(--secondary);
    color: var(--secondary);
}

#btn-conectar:hover {
    background-color: #dee2e6;   
}

.container {
    align-items: center;

}