body {
    background-color: #f4f6f8;
}

.splash-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.splash-container img {
    height: 96px;
}

.loading-text {
    margin-top: 20px;
    color: var(--secondary);
}