.splash-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  background-color: #f4f6f8;
}

.logo {
  height: 96px;
}

.loading-text {
  color: var(--secondary);
}
